@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Black.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Black.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-BlackItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-BlackItalic.woff") format("woff");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Bold.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-BoldItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-ExtraBold.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Heavy.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-HeavyItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Italic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Light.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-LightItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Medium.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-MediumItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Regular.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-Thin.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Display";
  src: url("/fonts/PortlandDisplay-ThinItalic.woff2") format("woff2"),
    url("/fonts/PortlandDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Black.woff2") format("woff2"),
    url("/fonts/PortlandMono-Black.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Bold.woff2") format("woff2"),
    url("/fonts/PortlandMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-ExtraBold.woff2") format("woff2"),
    url("/fonts/PortlandMono-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Heavy.woff2") format("woff2"),
    url("/fonts/PortlandMono-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Light.woff2") format("woff2"),
    url("/fonts/PortlandMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Medium.woff2") format("woff2"),
    url("/fonts/PortlandMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Regular.woff2") format("woff2"),
    url("/fonts/PortlandMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Semibold.woff2") format("woff2"),
    url("/fonts/PortlandMono-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Mono";
  src: url("/fonts/PortlandMono-Thin.woff2") format("woff2"),
    url("/fonts/PortlandMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Black.woff2") format("woff2"),
    url("/fonts/PortlandText-Black.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-BlackItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-BlackItalic.woff") format("woff");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Bold.woff2") format("woff2"),
    url("/fonts/PortlandText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-BoldItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-ExtraBold.woff2") format("woff2"),
    url("/fonts/PortlandText-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Heavy.woff2") format("woff2"),
    url("/fonts/PortlandText-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-HeavyItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Light.woff2") format("woff2"),
    url("/fonts/PortlandText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-LightItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Medium.woff2") format("woff2"),
    url("/fonts/PortlandText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-MediumItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Regular.woff2") format("woff2"),
    url("/fonts/PortlandText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-RegularItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Semibold.woff2") format("woff2"),
    url("/fonts/PortlandText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-Thin.woff2") format("woff2"),
    url("/fonts/PortlandText-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Portland Text";
  src: url("/fonts/PortlandText-ThinItalic.woff2") format("woff2"),
    url("/fonts/PortlandText-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
